

.nav-link {
    @apply text-white relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
}